// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question, #answer {
  border-left: solid 7px gray;
  padding: 5px 10px;
  margin: 10px 0;
  width: 500px;
  p {
    padding: 2px auto;
  }
}

#question {
  background-color: white;
}

#answer {
  background-color: rgb(255, 250, 205);
}

a {
  text-decoration: none;
  color: gray;
}


